@font-face {
  font-family: 'Conv_Domine-Regular';
  src: url('../fonts/Domine-Regular.eot');
  src: local('☺'), url('../fonts/Domine-Regular.woff') format('woff'), url('../fonts/Domine-Regular.ttf') format('truetype'), url('../fonts/Domine-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_Domine-Bold';
  src: url('../fonts/Domine-Bold.eot');
  src: local('☺'), url('../fonts/Domine-Bold.woff') format('woff'), url('../fonts/Domine-Bold.ttf') format('truetype'), url('../fonts/Domine-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}