body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $condensed-font-family;
  line-height: $heading-line-height;
  margin: 0 0 em(4px);
  font-weight: initial;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

p {
  margin: 0 0 $small-spacing;
  font-size: $large-font-size;
}

a {
  font-size: $large-font-size;
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }

  &.read-more {
    display: block;
    border-top: 1px solid $action-color;
    padding-top: 2px;
    transition: all $base-duration $base-timing;


    &:hover,
    &:focus {
      color: lighten($action-color, 20%);
      border-color: lighten($action-color, 20%);
    }
  }
}

.condensed {
  font-family: $condensed-font-family;
  text-transform: uppercase;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}