.woocommerce-tabs
  padding-top: em(30px)
  clear: both
  .tabs
    +clearfix
    > li
      float: left
      padding: em(10px)
    li.active
      background-color: rgba(72,155,255,0.15)
      border: 1px solid #CCCCCC
      margin-bottom: -1px
      border-bottom: none
  .panel
    background-color: rgba(72,155,255,0.15)
    border: 1px solid #CCCCCC
    margin: 0
    padding: em(15px)
  .shop_attributes
    table-layout: auto
    width: auto

    th
      padding-right: 40px
      padding-bottom: 0

    th,
    td
      width: auto
      border-bottom: 0
      vertical-align: top