*
  box-sizing: border-box

body
  background-image: url('images/bg.jpg')
  background-repeat: no-repeat
  background-position: center top
  background-size: cover

.wrapper
  +container(1000px)

.site-content
  background-color: rgba(255, 255, 255, 0.9)
  padding: $container-padding
  +clearfix

.entry-content, .hentry
  margin: 0

#subpage #primary,
.home #primary
  +breakpoint($medium-screen-up)
    +span(7 of 12)

  +breakpoint($large-screen-up)
    +span(8 of 12)

.main
  +clearfix
