body
  background-image: url('images/bg.jpg')
  background-repeat: no-repeat
  background-position: center top

.wrapper
  +container(990px)

.site-content
  background-color: #FFFFFF
  padding: $base-padding